form.dynamic-form {
    position: absolute;
    top: 10%;
    background-color: $primary-white;
    border-radius: 12px;
    border: 1px solid $blue-frame;
    padding: 32px;
    h1 {
        font-size: 22px;
        margin-bottom: 14px;
    }
    .description {
        font-size: 14px;
        line-height: 1.2;
        margin-bottom: 14px;
    }
    .question {
        border-bottom: 1px solid $blue-frame;
        margin-bottom: 8px;
    }
    .form-error {
        font-size: 14px;
        margin-left: 8px;
        color: $error;
    }
}
