#page-container {
    background: linear-gradient(180deg, rgba(66, 133, 245, 1) 18%, rgba(232, 241, 254, 1) 18%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: "Poppins", sans-serif;
}
