.dynamic-form {
    .preview-container {
        border: 1px solid $blue-frame;
        border-radius: 4px;
        background: $blue-secondary;
        padding: 8px;
        margin: 12px 0;
        display: flex;
        flex-direction: column;
        p.answer {
            color: $blue-primary;
        }
    }
    a {
        text-decoration: none;
        color: $blue-primary;
    }
}
